.m-t-15 {
    margin-top: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.framework-logo {
    height: 40px;
}

.framework-logo:hover {
    cursor: pointer;
}

.table {
    width: 100%;
}

.table td {
    vertical-align: middle;
}

thead th {
    color: #fff;
}

thead th:last-child {
    width: 200px;
}

.is-search .field {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.is-search .field .label {
    margin: 0 16px 0 0;
}

.action-button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.action-button-container .button {
    flex: 0 0 45%;
}

.modal.active {
    display: block;
}

.modal-content {
    top: 50%;
    transform: translateY(-50%);
}
