.m-t-15 {
    margin-top: 15px;
}

.m-b-15 {
    margin-bottom: 15px;
}

.m-b-30 {
    margin-bottom: 30px;
}

.framework-logo {
    height: 40px;
}

.framework-logo:hover {
    cursor: pointer;
}

.table {
    width: 100%;
}

thead th {
    color: #fff;
    text-align: center;
}

thead th:last-child {
    width: 200px;
}

thead th.logo:not([align]),
thead th.action:not([align]) {
    text-align: center;
}

.table td {
    vertical-align: middle;
}

.table th:first-child,
.table td:first-child,
.table th.done,
.table td.done {
    text-align: center;
    width: 5%;
}

.table td.logo,
.table td.action {
    text-align: center;
}

.is-search .field {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
}

.is-search .field .label {
    margin: 0 16px 0 0;
}

.action-button-container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
}

.action-button-container .button {
    flex: 0 0 45%;
}

.modal.active {
    display: block;
}

.modal .modal-content {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.modal .modal-content img {
    width: 100%;
}

@media (min-width: 769px) {
    .modal .modal-content {
        max-width: 1100px;
    }
}

.field.is-checkbox {
    display: inline-block;
}

form {
    position: relative;
    width: 100%;
}

form .error-msg {
    background: #fff;
    position: absolute;
    bottom: -55px;
    left: 0;
}

form .select select {
    width: 200px;
}

nav.section {
    background: #ffff;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    max-width: 600px;
    padding-bottom: 60px;
    position: fixed;
    right: -600px;
    top: 0;
    width: 100%;
    z-index: 30;
}

nav.section.active {
    right: 0;
}

nav.section .knob {
    background: hsl(48, 100%, 67%);
    display: block;
    left: -50px;
    height: 100%;
    top: 0;
    position: absolute;
    width: 50px;
}

nav.section .knob:hover {
    cursor: pointer;
}

.backdrop {
    display: none;
    background: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 20;
}

.backdrop.active {
    display: block;
}
